@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Oswald');

.container {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	background-color: white;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	padding-top: 20px;
	display: grid;
	grid-auto-columns: 1fr;
}

h2{
	font-family: 'Amatic SC', sans-serif;
	margin-top: 5px;
	margin-bottom: 18px;
	font-size: 45px;
}


aside{ 
	font-size: 20px;
	font-style: italic;
	margin-left: -40px;
	margin-bottom: 60px;
}

footer {
	grid-column: 1 / 2;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

nav {
	grid-column: 3;
}
.is-current {
	background-color: black;
	background-clip: padding-box;
	color: white !important;
}

ul {
	list-style-type: none;
}

.menu ul {
	margin-top: -1px;
	padding-left: 0; 
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.menu li { 
	line-height: 2.1em;
 }

.menu a { 
	padding-right: 20px;
	padding-left: 20px;
	display: block; 
	text-decoration: none;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

header a { 
	display: block;
	position: relative;
	max-width: 100px;
	font-size: 20px;
	font-family: "Amatic SC", "Arial";
}

header h1{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top: 60px;
	left: -80px;
}
.welcome {
	grid-column: 2 / 3;
	text-align: center;
}
.amanda-intro {
	grid-column: 1 / 2;
	text-align: center;
}
.mike-intro {
	grid-column: 2 / 3;
	text-align: center;
}
.tom-intro {
	grid-column: 3 / 4;
	text-align: center;
}


