@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Oswald');

.container {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	column-gap: 2em;
	background-color: #eaf2fc;
	margin: 0 auto;
	width: 90%;
	max-width: 1100px;
	padding-top: 12px;
	display: grid;
	grid-auto-columns: 340px 1fr;
	grid-template-rows: 100px 1fr;
}
h2{
	font-family: 'Amatic SC', sans-serif;
	margin-top: 5px;
	margin-bottom: 18px;
	font-size: 45px;
	color: #3564a3;
}

p {
	color: #47494c;
}
nav {
	grid-column: 2;
}

.is-current {
	background-color: #68a9ff;
	background-clip: padding-box;
	color: white !important;
}

ul {
	list-style-type: none;
}

.menu ul {
	margin-top: -1px;
	padding-left: 0; 
	list-style-type: none;
	display: inline-flex;
	justify-content: left;
	background-color: #d2e1f7;
}
.menu-footer {
	margin-top: 48px;
}
.menu-footer ul {
	margin-top: -1px;
	padding-left: 0; 
	list-style-type: none;
	display: flex;
	justify-content: left;
}
.menu-footer li { 
	line-height: 2.1em;
 }

.menu-footer a { 
	padding-right: 20px;
	padding-left: 20px;
	display: block; 
	text-decoration: none;
}
.menu li { 
	line-height: 2.1em;
}

.menu a { 
	padding-right: 20px;
	padding-left: 20px;
	display: block; 
	text-decoration: none;
}

a {
	color: #3564a3;
	text-decoration: none;
}

a:visited {
	color: #3564a3;
}

header a { 
	display: block;
	position: relative;
	max-width: 100px;
	font-size: 20px;
	font-family: "Amatic SC", "Arial";
}

header h1{
	position: absolute;
	top: -180px;
	left: 49px;
}
main {
	grid-column: 2 / 3;
	grid-row: 2;
}

.head-aside{ 
	padding-top: 83px;
	text-align: center;
	font-size: 20px;
	color: #3564a3;
	margin-left: -40px;
	font-weight: bold;
	margin-bottom: 60px;
	grid-column: 1 / 2;
	grid-row: 2;
}
.tom-head {
	left: 69px;
}
footer {
	color: #3564a3;
	grid-column: 1 / 2;
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
	margin-top: 45px;
	text-align: left;
}
header {
	grid-row: 2;
	grid-column: 1;
	margin-top: 197px;
	margin-left: 75px;
}
.intro-aside {
	text-align: center;
	font-size: 20px;
	color: #3564a3;
	margin-left: -40px;
	font-weight: bold;
	margin-bottom: 60px;
	grid-column: 1 / 2;
	grid-row: 2;
}
.mike-aside {
	font-size: 20px;
	margin-left: -40px;
	margin-bottom: 60px;
	grid-column: 1 / 2;
}
.welcome {
	font-family: 'Amatic SC', sans-serif;
	grid-column: 2 / 3;
	font-size: 59px;
	text-align: center;
	margin-top: 0px;
}
.amanda-intro {
	border-width: 6px;
	border-style: groove;
	grid-column: 1 / 2;
	text-align: center;
	border-color: #bfd5f2;
}
.mike-intro {
	border-width: 6px;
	border-style: groove;
	grid-column: 2 / 3;
	text-align: center;
	border-color: #bfd5f2;
}
.tom-intro {
	border-width: 6px;
	border-style: groove;
	grid-column: 3 / 4;
	text-align: center;
	border-color: #bfd5f2;
}


